<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseDirectory" value="C:\Users\mrjunio\Desktop\TestApp\TestApp\TestApp"/>
    <add key="FolderName" value="Files"/>
	  <add key="FolderCount" value="100"/>
	  <add key="MaxNum" value="10"/>
  </appSettings>
</configuration>
